@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;500&family=Grand+Hotel&display=swap');

nav {
  background-color: white !important;
}

/* .btn, .btn-large, .btn-small {
  border: 1px solid #2c3e4f !important;
color: #2c3e4f !important;
background-color: white !important;
text-align: center;
letter-spacing: .5px;
box-shadow: none !important;
} */
/* body {
  font-family: 'Roboto Condensed', sans-serif;
} */

ul:not(.browser-default) {
  text-align: center !important;
}

nav {
  box-shadow: none !important;
}

.footer {
  padding:40px !important;
}

.ui.secondary.menu .active.item {
  text-decoration: underline;
  background-color: transparent !important;
}

.center .menu a {
  padding:20px;
  color: #08213e;
}

.center {
  border: none !important;
  box-shadow: none !important;
}

.crisp {
  width:20%;
}

.carousel .carousel-item {
    visibility: visible !important;
    width: 100vw !important;
    height: 100vh !important;
    position: relative !important;
    top: 0;
    left: 0;
}

.carousel-item {
    visibility: visible !important;
    width: 100vw !important;
    height: 100vh !important;
    position: relative !important;
    top: 0;
    left: 0;
}

.carousel .carousel-caption {
  color:white;
  font-size:30px;
}

nav .brand-logo {
  position: relative !important;
}

.brand-logo img {
  width:20% !important;
}

.carouselImage {
  width:100% !important;
  height:100% !important;
}

nav .brand-logo, nav ul a {
  color: #2C3E50 !important;
}

h1 {
  font-size:80px !important;
}

h1,h2,h3,h4,h5 {
  font-family: 'Fraunces', serif;
  font-weight:500;
}

.jumbotron {
  background-image: url('./images/cookies.jpg');
  background-size: cover;
  height: 80vh;
  margin-bottom: 0px !important;
  /* margin-top: -42px; */
}

a:hover {
  background-color: transparent !important;
}

.copy button {
  border: 1px solid white;
  background-color: transparent;
  width: 50%;
}


.copyimg .btn, .copyimg .btn-large, .copyimg .btn-small {
  border: 1px solid #2c3e4f !important;
  color: #2c3e4f !important;
  background-color: white !important;
  text-align: center;
  width: 50%;

  letter-spacing: .5px;
  box-shadow: none !important;
}

.jumbotron .lighter {
  color: white;
  padding: 20px;
  text-align: center;
}

.outline-primary {
  background-color: transparent !important;
  border: 1px solid white !important;
}

.copy {
  background-color: #2C3E50 !important;
  color: white;
  text-align: center;
  padding: 60px;
  /* margin-top: -30px; */
}

.bigimg {
  width: 100vw;
  height: 100%;
  margin-left: -15px;
}

.copyimg {
  padding: 80px;
}

.link {
  color: white;
  background-color: #2C3E50 !important;
  padding: 20px;
}

.copy {
  text-align: center;
}

.cinnamon {
  width: 100%;
}



.collection-item.avatar .title {
  font-weight: 700 !important;
  font-size: 20px !important;
  color: #2C3E50 !important;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}

.btn-floating.halfway-fab {
  background-color: #2C3E50;
  text-align: center;
  /* line-height: 50px; */
}

.card {
  width: 300px;
}

.card .card-image .card-title {
  color: black;
  font-weight: 400
}

.cart {
  margin-top: 40px;
}

.collection .collection-item {
  display: flex;
}

.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
}

.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}

.item-desc {
  align-self: center;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 20% !important;
    transform: translateX(-50%);
  }
}
